<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/aboutUs.css">
        <title>About Us</title>
    </head>
    <body>
        <div id="nav-bar">
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <ul>
                <li> <a href="/"><strong>Home</strong></a> </li>
                <li> <a href="/about/us"><strong>About Us</strong></a></li>
                <li> <a href="/services"><strong>Services</strong></a></li>
                <li> <a href="/book/appointment"><strong>Book Appointment</strong></a></li>
            </ul>
            <div id="hours">
                <p id="num">(559) 688-8324</p>
                <!-- <p>1112 E Batavia Ct, Tulare, CA 93274</p> -->
                <p>Monday-Friday: 8AM - 5PM</p>
            </div>
        </div>
        <div id="container">
            <div id="col-left">
                <img src="../static/images/aboutUs_imgs/main-img.jpeg" alt="">
            </div>
            <div id="col-right">
                <div id="right">
                    <div id="p1">
                        <p><strong>About Us</strong></p>
                    </div>
                    <br>
                    <p class="p2">Cam-Tech Automotive opened its doors in the Summer of 2014. Our Founder, Carlos Camara, started the business with 30-plus years of experience in the automotive industry and two main goals in mind; "Make sure the customer is always taken care of" and "Always do the right thing". With this mission, we have flourished. We began as a one-man operation but have since grown in order to keep up with the demands of the community we care so greatly for. </p>
                    <br>
                    <p class="p2">We are the epitome of a family business and consider our customers family as well. With close ties to the community, we love our City of Tulare and want to ensure its residents have safe and reliable transportation by offering the latest in engine computer diagnostics, all maintenance, SMOG check, AC/Heating and brake services. With hours from 8am-5pm on weekdays and open until noon on Saturdays we can accommodate almost all schedules. </p> 
                    <br>
                    <p class="p2"> Having car trouble can be a stressful experience but getting the repairs you need doesn't have to be. Book an appointment with us today or come in for a quote so we can get you back on the road to places you need to go. </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p>Copyright © 2022 Designed by Kenia Rivera</p>
            </div>
        </div>
    </body>
</html>