<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bookAppt.css">
        <title>Book an Appointment</title>
    </head>
    <body>
        <div id="nav-bar">
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <ul>
                <li> <a href="/"><strong>Home</strong></a> </li>
                <li> <a href="/about/us"><strong>About Us</strong></a></li>
                <li> <a href="/services"><strong>Services</strong></a></li>
                <li> <a href="/book/appointment"><strong>Book Appointment</strong></a></li>
            </ul>
            <div id="hours">
                <p id="num">(559) 688-8324</p>
                <!-- <p>1112 E Batavia Ct, Tulare, CA 93274</p> -->
                <p>Monday-Friday: 8AM - 5PM</p>
            </div>
        </div>
        <!-- <div id="outer-calendly"> -->
            <div id="calendly">
                <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false">
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                        <script>
                        Calendly.initInlineWidget({
                        url: 'https://calendly.com/keniariveraa'
                        });
                        </script>
                    </div>
                <!-- Calendly inline widget end -->
            </div>
        <!-- </div> -->
        
        <!-- <div id="highlight-container">
        </div> -->
        <div id="footer">
            <div id="copyright">
                <p>Copyright © 2022 Designed by Kenia Rivera</p>
            </div>
        </div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </body>
</html>



