<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>Cam-Tech Automotive</title>
    </head>
    <body>
        <div id="nav-bar">
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <ul>
                <li> <a href="/"><strong>Home</strong></a> </li>
                <li> <a href="/about/us"><strong>About Us</strong></a></li>
                <li> <a href="/services"><strong>Services</strong></a></li>
                <li> <a href="/book/appointment"><strong>Book Appointment</strong></a></li>
                <!-- <li> <a href="https://calendly.com/keniariveraa/30min?embed_domain=127.0.0.1%3A5003&embed_type=inline&back=1"><strong>Book Appointment</strong></a></li> -->
            </ul>
            <div id="hours">
                <p id="num">(559) 688-8324</p>
                <!-- <p>1112 E Batavia Ct, Tulare, CA 93274</p> -->
                <p>Monday-Friday: 8AM - 5PM</p>
            </div>
            <!-- <div id="hours-container">
                <p><strong>Hours</strong></p>
                <p class="days">Monday-Friday: 8AM - 5PM</p>
                <p class="days">Saturday: 8AM - 12PM</p>
                <p class="days">Sunday: Closed</p>
            </div> -->
        </div>
        <div id="highlight-container">
            <h1>REPAIR YOU CAN TRUST! </h1>
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <h2>"Honest work at a reasonable price"</h2>
            <!-- <form id="appt_button" action="/book/appointment"><button>Book an Appointment</button></form> -->
            <!-- <button>Book an Appointment</button> -->
            <a href="/book/appointment">Book an Appointment</a>
        </div>
        <div id="footer">
            <div id="copyright">
                <p>Copyright © 2022 Designed by Kenia Rivera</p>
            </div>
        </div>
    </body>
</html>






<!-- Comment: html a href code for functions -->

{# <!-- <a href="/user/delete/{{user.id}}">DELETE</a> --> #}

{# <!-- <a href="/user/update/{{user.id}}">UPDATE</a> --> #}

{# <!-- <a href="/user/create/{{user.id}}">CREATE</a> --> #}