<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Book an Appointment</title>
    </head>
    <body>
        <div id="nav-bar">
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <ul>
                <li> <a href="/"><strong>Home</strong></a> </li>
                <li> <a href="/about/us"><strong>About Us</strong></a></li>
                <li> <a href="/services"><strong>Services</strong></a></li>
                <li> <a href="/book/appointment"><strong>Book Appointment</strong></a></li>
            </ul>
        </div>
        <div id="highlight-container">
            
        </div>
        <div id="footer">
            <p><strong>Company</strong></p>
            <ul id="foot">
                <li><a href="/about/us">About Us</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact/us">Contact Us</a></li>
            </ul>
            <div id="copyright">
                <p>Copyright © 2022 Designed by Kenia Rivera</p>
            </div>
        </div>
    </body>
</html>



