<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/services.css">
        <title>Services</title>
    </head>
    <body>
        <div id="nav-bar">
            <img src="../static/images/homepage_imgs/cam-tech-logo2.jpeg" alt="logo">
            <ul>
                <li> <a href="/"><strong>Home</strong></a> </li>
                <li> <a href="/about/us"><strong>About Us</strong></a></li>
                <li> <a href="/services"><strong>Services</strong></a></li>
                <li> <a href="/book/appointment"><strong>Book Appointment</strong></a></li>
            </ul>
            <div id="hours">
                <p id="num">(559) 688-8324</p>
                <!-- <p>1112 E Batavia Ct, Tulare, CA 93274</p> -->
                <p>Monday-Friday: 8AM - 5PM</p>
            </div>
        </div>
        <div id="container">
            <div id="col-left">
                <img src="../static/images/services_imgs/ase-logo.gif" alt="">
                
            </div>
            <div id="col-right">
                <div id="p1">
                    <p><strong>Services</strong></p>
                </div>
                <div id="inner-cont">
                    <div >
                        <ul id="lefty">
                            <li>Tune Ups</li>
                            <li>General Repair</li>
                            <li>A/C</li>
                            <li>Brakes</li>
                            <li>Electrical</li>
                        </ul>
                    </div>
                    <div >
                        <ul id="righty">
                            <li>Smog Insepction</li>
                            <li>Suspension</li>
                            <li>Engine and Transmission Swaps</li>
                            <li>Diagnostics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p>Copyright © 2022 Designed by Kenia Rivera</p>
            </div>
        </div>
    </body>
</html>