*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header-img{
    height: 120px;
    width: 1440px;
    /* background-image: url("./images/shop-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain; */
    background-color: #cccccc;
}
/*--------------------START OF NAV-BAR--------------------------- */
#nav-bar{
    height: 110px;
    width: 100%;
    /* border: 2px solid blue; */
    background-color: #1F479C;
    display: flex;

    align-items: center;
    justify-content: space-around;
}

#nav-bar > img{
    height: 105px;
    border-radius: 50%;

}

ul{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

a{
    color: #FBD433;
    list-style: none;
    text-decoration: none;
}
/*--------------------------------------------------------------- */

/*--------------------START OF HIGHLIGHT-CONTAINER--------------------- */
#highlight-container{
    height: 600px;
    /* width: 100%; */
    /* border: 2px solid black; */
    /* background-image: url("./images/main-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain; */
    background-color: #F2F2F2;
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
#highlight-container > img{
    height: 280px;
    margin-bottom: 50px;
    border-radius: 50%;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

#highlight-container > a{
    color: #FBD433;
    background-color: #1F479C;
    box-shadow: 3px 3px black;
    font-size: 20px;
    padding: 5px;
    /* border-radius: 50%; */
}


#hours-container{
    height: 200px;
    /* border: 2px solid black; */
    margin: 0px 40px;
    font-size: 2rem;
    align-items: center;
}
.days{
    font-size: 26px;
}

#footer{
    height: 100px;
    width: 100%;
    background-color: #1F479C;
    color: black;
    font-size: 12px;
    
}

#foot{
    font-size: 12px;
    margin-left: 500px;
    display: inline-block;
}
#copyright{
    display: flex;
    margin-top: 45px;
    justify-content: center;
}